.checkout {
    text-align: center;
    padding: 2rem;
  }
  
  .checkout-form {
    margin-top: 1rem;
  }
  
  .checkout-form__button {
    padding: 0.8rem 1.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .checkout-form__button:hover {
    background-color: #45a049;
  }
  .checkout-form-title{
    margin-top: 30px ;
  }  