.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-toggler {
    margin-right: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; 
  }
  

  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    color: #000000;
  }
  
  .cart-badge {
    margin-right: 30px;
    background-color: white;
    color: #007bff;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .cart-badge.animate {
    transform: scale(1.5);
  }
  

  @media (max-width: 768px) {
    .navbar-toggler {
      display: block; 
    }
    .navbar-links {
      display: none; 
      flex-direction: column;
      background-color: #007bff;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 10px 20px;
    }
  
    .navbar-links-open {
      display: flex; 
    }
  }
  