/* src/styles/BookDetail.css */
.book-detail-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.book-detail-container h2 {
    font-size: 2em;
    color: #bcbcbc;
    margin-bottom: 10px;
}

.book-detail-container h3 {
    font-size: 1.5em;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.book-detail-container p {
    font-size: 1.2em;
    color: #898888;
    line-height: 1.6;
}

.book-detail-container strong {
    font-weight: bold;
}

/* BookDetail.css */
.book-detail-container {
    display: flex;
    justify-content: space-between; /* Esto coloca los dos divs en extremos opuestos */
    padding: 20px;
}

.book-info {
    flex: 1;  /* Ocupa el espacio restante */
}

.book-image-container {
    display: flex;
    flex-direction: column;  /* Alinea la imagen y el botón verticalmente */
    align-items: flex-end;  /* Alinea la imagen y el botón a la derecha */
    max-width: 300px; /* Limita el ancho máximo del contenedor de la imagen */
}

.book-image {
    max-width: 100%; /* Asegura que la imagen no se estire más allá de su contenedor */
    height: auto;
}

/* Estilo para el botón */
button {
    background-color: rgb(5, 196, 24); /* Fondo verde */
    color: white; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a mano cuando pasa sobre el botón */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

button:hover {
    background-color: #555b55; /* Color más oscuro de verde al pasar el mouse */
}

button:focus {
    outline: none; /* Elimina el contorno de enfoque */
}

.book-image-container {
    display: flex;
    flex-direction: column;  /* Alinea la imagen y el botón verticalmente */
    align-items: center;  /* Centra los elementos horizontalmente */
    justify-content: center;  /* Alinea los elementos verticalmente */
    max-width: 300px; /* Limita el ancho máximo del contenedor de la imagen */
    margin: 0 auto; /* Centra el contenedor en la página */
}
