/* BookDetail.css */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.menu button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu button:focus {
    outline: none;
}

/* Cambio de color del texto "Inicio" a blanco */
.menu-text {
    color: white;
}

/* Efecto hover para el emoji de la casita */
.home-icon {
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.home-icon:hover {
    transform: scale(1.2); /* Aumenta el tamaño del emoji al pasar el mouse */
}
