/* Modal */
.thank-you-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;  /* Asegura que el modal de gracias aparezca sobre otros modales */
}

.thank-you-modal-content {
    background-color: rgb(45, 164, 79);  /* Color verde */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    animation: fadeOut 2s ease-in-out forwards;  /* Agrega una animación para cerrar el modal */
}

/* Botón Eliminar - Naranja */
button.delete-button {
    background-color: #fd7e14; /* Naranja */
    color: white;
}

button.delete-button:hover {
    background-color: #e67e22; /* Naranja oscuro al pasar el puntero */
}

/* Botón Comprar - Verde */
button.buy-button {
    background-color: #28a745; /* Verde */
    color: white;
}

button.buy-button:hover {
    background-color: #218838; /* Verde oscuro al pasar el puntero */
}

/* Botón Cerrar - Rojo */
button.close-button {
    background-color: #dc3545; /* Rojo */
    color: white;
}

button.close-button:hover {
    background-color: #c82333; /* Rojo oscuro al pasar el puntero */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);  /* Opción de animación para salir hacia arriba */
    }
}
